@import '../../../styles/settings/mixins.scss';
@import '../../../styles/helpers/media.scss';

.form {
    position: relative;
    width: 100%;
    height: 66.4rem;

    @include mq(md) {
        height: 59.6rem;
    }

    @include mq(sm) {
        height: 48.6rem;
    }
}

.container {
    width: 100%;
    height: 100%;
    background: var(--color-gradient);
    border-radius: 2rem;
    padding: 8.7rem 7.5rem 7.5rem;

    @include mq(md) {
        padding: 3.2rem;
    }

    @include mq(sm) {
        padding: 4rem 2.4rem;
    }
}

.label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 6.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.2);

    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    span {
        position: absolute;
        right: 0;
        bottom: 0;
        font: var(--font-btn-s);
    }

    @include mq(sm) {
        margin-bottom: 3.6rem;
    }
}

.input {
    width: 100%;
    height: auto;
    letter-spacing: 0.03em;
    font: 400 2rem/110% var(--main-ff);
    color: var(--color-white);

    @include placeholder {
        letter-spacing: 0.03em;
        font: 400 2rem/110% var(--main-ff);
        color: var(--color-white);
    }

    @include mq(sm) {
        font: 400 1.4rem/110% var(--main-ff);

        @include placeholder {
            font: 400 1.4rem/110% var(--main-ff);
        }
    }
}

.btnWrapper {
    margin-top: 6.8rem;
    display: flex;
    align-items: center;
    gap: 4rem;

    @include mq(sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;

        margin-top: 4rem;
    }
}

.agreement {
    font: 400 1rem/1.2rem var(--main-ff);
    text-transform: uppercase;
    color: rgba(161, 179, 227, 0.4);
    max-width: 27.1rem;

    a {
        color: var(--color-white);
    }

    @include mq(sm) {
        color: rgba(161, 179, 227, 0.5);
        max-width: 100%;
    }
}

.message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mq(md) {
        padding-top: 5rem;
    }

    @include mq(sm) {
        padding-top: 4rem;
    }
}

.messageHeading {
    font: var(--font-heading-h1);
    margin-bottom: 3.6rem;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @include mq(sm) {
        font: var(--font-heading-h2);
        font-weight: 300;
    }
}

.messageText {
    font: 300 2.4rem/3.1rem var(--main-ff);

    @include mq(sm) {
        font: var(--font-body);
        font-weight: 300;
    }
}

.messageBtn {
    text-transform: uppercase;
    font: var(--font-btn-m);
    letter-spacing: 0.08em;
    color: rgba($color: #fff, $alpha: 0.4);
    margin-top: auto;
    align-self: flex-end;
}