@import '../../../styles/helpers/media.scss';

.button {
    display: inline-block;
    padding: 2rem 3.4rem;
    color: var(--color-white);
    font: 400 1.8rem/2.1rem var(--main-ff);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: var(--color-accent1);
    border-radius: 5.5rem;
    flex-shrink: 0;

    &.modWhite {
        background-color: var(--color-white);

        span {
            background: var(--color-gradient);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    &.modTransparent {
        background-color: transparent;
        border: 0.1rem solid var(--color-white);
        background-image: url(../../../assets/img/bgBtnPolygons.png);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 1.9rem 3.3rem;
    }

    @include mq(sm) {
        padding: 1.6rem 3.2rem;
        font: 400 1.2rem/1.4rem var(--main-ff);
    }
}