.button {
    display: inline-block;
    padding: 2rem 3.4rem;
    color: var(--color-white);
    font: 400 1.8rem/2.1rem var(--main-ff);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: var(--color-accent1);
    border-radius: 5.5rem;
}