.button {
    padding: 1rem 2rem;
    color: var(--color-white);
    font: var(--font-btn-s);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: var(--color-accent1);
    border-radius: 5.5rem;
}