@import '../../../../styles/helpers/media.scss';

.section {
    position: relative;
    margin-bottom: 51.8rem;

    @include mq(md) {
        margin-bottom: 15rem;
    }

    @include mq(sm) {
        margin-bottom: 10rem;
    }
}

.sectionBgImg {
    position: absolute;
    top: -10rem;
    left: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    filter: blur(169px);

    @include mq(md) {
        top: 0;
        left: auto;
        right: 0;
        width: 70rem;
        height: 110rem;
        object-fit: contain;
        filter: blur(109px);
    }

    @include mq(sm) {
        right: -100px;
        top: -70px;
        width: 70rem;
        filter: blur(70px);
        height: 85rem;
    }
}

.heading {
    font: var(--font-heading-h1);
    text-transform: uppercase;
    letter-spacing: -0.02em;
    max-width: 74.8rem;
    margin-bottom: 8rem;

    @include mq(lg) {
        font: var(--font-heading-h2);
        font-weight: 300;
    }

    @include mq(sm) {
        font: 300 3.4rem/1 var(--main-ff);
        margin-bottom: 5.2rem;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: var(--grid-offset);

    @include mq(md) {
        display: block;
    }
}

.containerBLock {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
        grid-column: 2 span;
    }

    &:nth-child(2) {
        grid-column: 9 span;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    object-fit: cover;
    margin-bottom: 12.5rem;

    @include mq(sm) {
        margin-bottom: 16rem;
    }
}

.textContainerBLock {
    &:nth-child(1) {
        grid-column: 5 span;
    }

    &:nth-child(2) {
        grid-column: 6 span;
    }
}

.text {
    font: 300 3.4rem/110% var(--main-ff);
    margin-bottom: 7.6rem;

    @include mq(md) {
        font: var(--font-body-M);
        margin-bottom: 4rem;
    }

    @include mq(sm) {
        font: 300 2rem/2.2rem var(--main-ff);
        margin-bottom: 2.8rem;
    }
}

.smallText {
    max-width: 46.6rem;
    color: var(--color-purple-text);
    font: var(--font-body-M);
    margin-bottom: 5.3rem;

    @include mq(md) {
        font: var(--font-body);
    }

    @include mq(sm) {
        font: 300 1.4rem/1.5rem var(--main-ff);
        margin-bottom: 2.8rem;
        letter-spacing: 0.03em;
        max-width: 28.4rem;
    }
}

.howItWorks {
    position: relative;
    top: 30rem;
    left: -4rem;
    width: 60rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq(custom, max, 1440) {
        left: -9rem;
    }

    @include mq(lg) {
        left: 2rem;
        top: 43rem;
    }

    @include mq(md) {
        top: auto;
        left: auto;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;
    }

    @include mq(sm) {
        margin-bottom: 10.9rem;
        width: auto;
        height: auto;
    }
}

.howItWorksheading {
    display: block;
    font: 400 4rem/1 var(--main-ff);
    text-transform: uppercase;
    letter-spacing: -0.02em;
    margin-bottom: 1.1rem;

    @include mq(md) {
        font: 400 2.5rem/1 var(--main-ff);
    }

    @include mq(sm) {
        font: 400 2.2rem/1 var(--main-ff);
        margin-bottom: 0.3rem;
    }
}

.howItWorksSmallHeading {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin-bottom: 3.8rem;

    @include mq(sm) {
        font: 400 1rem/1.2rem var(--main-ff);
        margin-bottom: 2rem;
    }
}

.howItWorksVideoBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.6rem;
    height: 8rem;
    border-radius: 12.7rem;
    background:
        linear-gradient(0deg, rgba(42, 51, 135, 0.7), rgba(42, 51, 135, 0.7)),
        url(../../../../assets/img/howItWorksBgImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        .howItWorksVideoBtnIcon {
            color: var(--color-accent1);
        }
    }

    @include mq(sm) {
        width: 8.8rem;
        height: 3.6rem;
    }
}

.howItWorksVideoBtnIcon {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    color: var(--color-white);
    transition: color var(--transition);

    @include mq(sm) {
        width: 2rem;
        height: 2rem;
    }
}

.howItWorkscaption {
    display: block;
    font: var(--font-btn-s);
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin-top: 11rem;

    @include mq(sm) {
        margin-top: 5.4rem;
    }
}

.videoBgLine {
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 91rem;
    height: 90rem;
    margin-right: -50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include mq(lg) {
        height: 75rem;
        width: 80rem;
    }

    @include mq(sm) {
        top: 34%;
        left: 52%;
        background-size: contain;
        height: 51rem;
        width: 45rem;
    }
}

.videoBgLine1 {
    background-image: url(../../../../assets/img/videoBgLine.png);
    animation: rotating 90s linear infinite 0.8s;
}

.videoBgLine2 {
    background-image: url(../../../../assets/img/videoBgLine2.png);
    width: 77rem;
    height: 79rem;
    left: 50%;
    animation: rotating 70s linear infinite 0.8s;

    @include mq(lg) {
        height: 67rem;
        left: 51%;
        width: 68rem;
    }

    @include mq(sm) {
        height: 42rem;
        left: 51%;
        width: 37rem;
    }
}

.videoBgLine3 {
    background-image: url(../../../../assets/img/videoBgLine3.png);
    width: 77rem;
    height: 79rem;
    left: 50%;
    animation: rotatingBack 70s linear infinite 0.8s;

    @include mq(lg) {
        height: 67rem;
        left: 51%;
        width: 68rem;
    }

    @include mq(sm) {
        height: 42rem;
        left: 51%;
        width: 37rem;
    }
}

.videoBgLine4 {
    background-image: url(../../../../assets/img/videoBgLine4.png);
    width: 97rem;
    height: 97rem;

    @include mq(lg) {
        height: 80rem;
        left: 57%;
        width: 89rem;
    }

    @include mq(sm) {
        height: 51rem;
        left: 56%;
        width: 45rem;
    }
}

@keyframes rotating {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes rotatingBack {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}