@import '../../../../styles/helpers/media.scss';

.section {
    margin-bottom: 28.4rem;

    @include mq(md) {
        margin-bottom: 15rem;
    }

    @include mq(sm) {
        margin-bottom: 10rem;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: var(--grid-offset);

    @include mq(lg) {
        display: block;
    }
}

.containerBlock {
    &:nth-child(1) {
        grid-column: 5 span;
    }

    &:nth-child(2) {
        grid-column: 6 span;
    }
}

.text {
    font: 300 3.4rem/110% var(--main-ff);
    margin-bottom: 7.6rem;
    max-width: 52.8rem;

    @include mq(md) {
        font: var(--font-body-M);
        margin-bottom: 4rem;
    }

    @include mq(sm) {
        font: 300 2rem/2.2rem var(--main-ff);
        margin-bottom: 3.2rem;
    }
}

.slider {
    display: flex;
    gap: 0.8rem;
    overflow: visible;
    margin-bottom: 0.8rem;
}

.sliderItem {
    flex-shrink: 0;
    width: 19.4rem;
    height: 19.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 1rem;

    img {
        max-width: 80%;

        @include mq(custom, max, 1366) {
            max-width: 70%;
        }

        @include mq(sm) {
            max-width: 65%;
        }
    }

    @include mq(md) {
        width: 15.4rem;
        height: 15.4rem;
    }

    @include mq(sm) {
        width: 10rem;
        height: 10rem;
    }
}