@import '../../../../styles/helpers/media.scss';

.intro {
    padding-top: 13rem;
    margin-bottom: 32.7rem;

    @include mq(lg) {
        padding-top: 8rem;
        margin-bottom: 15rem;
    }

    @include mq(sm) {
        padding-top: 6.4rem;
        margin-bottom: 9.8rem;
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: var(--grid-offset);

    @include mq(lg) {
        display: block;
    }
}

.block {
    &:nth-child(1) {
        grid-column: 5 span;
    }

    &:nth-child(2) {
        grid-column: 6 span;
    }
}

.headingText {
    font: var(--font-heading-h3);
    text-transform: uppercase;
    max-width: 41.6rem;
    opacity: 0;

    span {
        display: block;
        background: var(--color-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    @include mq(lg) {
        margin-bottom: 4rem;
    }

    @include mq(md) {
        font: var(--font-body-M);
        font-weight: 300;
        line-height: 1;
        margin-bottom: 8rem;
    }

    @include mq(sm) {
        font: var(--font-heading-h4);
        margin-bottom: 9.5rem;
    }
}

.heading {
    font: var(--font-heading-h1);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    max-width: 67.4rem;
    margin-bottom: 10rem;
    opacity: 0;

    @include mq(md) {
        font: var(--font-heading-h2);
        font-weight: 300;
        margin-bottom: 4rem;
    }

    @include mq(sm) {
        font: 300 3.4rem/1 var(--main-ff);
        margin-bottom: 4.4rem;
    }
}

.text {
    max-width: 53.5rem;
    font: var(--font-body-M);
    font-weight: 300;
    color: var(--color-purple-text);
    margin-bottom: 4.8rem;
    opacity: 0;

    @include mq(md) {
        font: var(--font-body);
        font-weight: 300;
    }

    @include mq(sm) {
        font: var(--font-body-S);
        margin-bottom: 2.8rem;
        letter-spacing: 0.03em;
    }
}

.btns {
    position: relative;
    overflow: hidden;
    height: 23rem;

    @include mq(custom, max, 1280) {
        height: 17rem;
    }

    @include mq(md) {
        height: 12rem;
    }

    @include mq(sm) {
        width: 100%;
        height: 16.6rem;
    }
}

.btnsAnimatedWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23rem;
    display: flex;
    gap: 0.8rem;
    overflow: hidden;
    opacity: 0;

    @include mq(custom, max, 1280) {
        height: 17rem;
    }

    @include mq(md) {
        width: 70%;
        height: 12rem;
    }

    @include mq(sm) {
        width: 100%;
        flex-direction: column;
        height: 16.6rem;
    }
}

.btnDemo {
    position: relative;
    flex-grow: 1;
    height: 23rem;
    padding: 2.4rem 2.8rem;
    background-color: #1B4BC3;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(../../../../assets/img/intro-btn-bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:not(.modMore)::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #2966FF, $alpha: 0.4);
        opacity: 0;
        transition: opacity 300ms;
        content: "";
    }

    &:hover {
        .btnDemoImg {
            transform: scale(1.1);
        }

        &::before {
            opacity: 1;
        }
    }

    &.modMore {
        width: 28.3rem;
        flex-grow: 0;
        background-color: #131F3F;
        background-image: none;

        &:hover {
            .btnDemoIcon {
                color: var(--color-white);
            }

            .btnDemoImg {
                transform: scale(1);
                color: var(--color-white);
            }
        }

        .btnDemoImg {
            color: #33549F;
            height: auto;
            right: 0;

            @include mq(sm) {
                right: -2rem;
                top: -4.7rem;
            }
        }
    }

    @include mq(custom, max, 1280) {
        height: 17rem;
    }

    @include mq(md) {
        height: 12rem;
        padding: 1.5rem;
    }

    @include mq(sm) {
        height: 10.2rem;
        flex-shrink: 0;
        justify-content: center;
        padding: 2rem 1.6rem;
        background-position: center right;

        &.modMore {
            width: 100%;
            height: 5.6rem;
        }
    }
}

.btnDemoImg {
    position: absolute;
    top: 0;
    right: 2.4rem;
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: transform 300ms, color 300ms;

    @include mq(custom, max, 1280) {
        right: -2.3rem;
    }

    @include mq(sm) {
        right: 2.4rem;
        height: 118%;
    }
}

.btnDemoSmallText {
    position: relative;
    z-index: 3;
    display: block;
    font: 400 1rem/1.2rem var(--main-ff);
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: rgba($color: #fff, $alpha: 0.2);
    max-width: 9rem;
    text-align: left;

    @include mq(sm) {
        display: none;
    }
}

.btnDemoText {
    position: relative;
    z-index: 3;
    display: block;
    margin-top: auto;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: left;

    @include mq(md) {
        font: var(--font-btn-s);
    }

    @include mq(sm) {
        margin-top: 0;
        font: var(--font-body-S);
        font-weight: 300;
    }
}

.btnDemoIcon {
    color: #3B496D;
    transition: fill var(--transition), color var(--transition);

    @include mq(sm) {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
    }
}

.bgCircleImg {
    position: absolute;
    top: 25.7rem;
    left: -15rem;
    z-index: -1;
    mix-blend-mode: lighten;
    width: 110rem;
    height: auto;
    object-fit: cover;
    animation: fadeIn 0.2s ease-in-out;

    @include mq(lg) {
        left: auto;
        right: -20rem;
        top: -15rem;
        width: 80rem;
    }

    @include mq(md) {
        width: 59rem;
    }

    @include mq(sm) {
        width: 48rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}