@import '../../../styles/helpers/media.scss';


.DemoContainerMobile {
    display: none;

    h2 {
        font: var(--font-heading-h2);
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        padding-top: 10rem;

        @include mq(sm) {
            font: var(--font-heading-h3);
        }
    }

    @include mq(lg) {
        display: block;
    }
}

.DemoContainer {
    padding-top: 18.5rem;
    display: flex;

    @include mq(lg) {
        display: none;
    }
}

.DemoImage {
    display: block;
    width: 85.2rem;
    height: 50rem;
    object-fit: contain;
    margin-right: 8.8rem;
}

.DemoHeading {
    font: var(--font-heading-h1);
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.DemoText {
    font: var(--font-body-M);
    color: var(--color-purple-text);
    max-width: 53.5rem;
    margin-bottom: 4rem;
}

.DemoContentWrapper {
    margin-top: 7rem;
}