.header {
    color: var(--color-white);
    padding-top: 3.8rem;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 1rem;
}

.btns {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btnItem {
    margin-right: 6rem;

    &:last-child {
        margin-right: 0;
    }
}

.btn {
    color: var(--color-white);
    font: var(--font-btn-s);
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.demoBtn {
    padding: 1rem 2rem;
    color: var(--color-white);
    font: var(--font-btn-s);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: var(--color-accent1);
    border-radius: 5.5rem;
}