@import '../../../styles/helpers/media';

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    width: 100%;
    color: var(--color-white);
    padding-top: 3.8rem;
    padding-bottom: 1rem;
    height: var(--header-height);

    @include mq(sm) {
        padding-top: 1.6rem;
    }
}

.fixed {
    position: fixed;
    background: linear-gradient(180deg, #06112E -68.67%, rgba(6, 17, 46, 0) 90.67%);
    animation: fromUp 600ms ease-in-out;
}

@keyframes fromUp {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 1rem;
}

.btns {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.btnItem {
    margin-right: 6rem;

    &:last-child {
        margin-right: 0;
    }

    @include mq(sm) {
        &:not(:last-child) {
            display: none;
        }
    }
}

.btn {
    color: var(--color-white);
    font: var(--font-btn-s);
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

.demoBtn {
    padding: 1rem 2rem;
    color: var(--color-white);
    font: var(--font-btn-s);
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: var(--color-accent1);
    border-radius: 5.5rem;
}