.section {
    margin-bottom: 28rem;
}

.headingContainer {
    display: flex;
    align-items: center;
    font: 300 12rem/1 var(--main-ff);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    gap: 2.8rem;
    margin-bottom: 8.8rem;
}

.headingWhy,
.headingRicc {
    display: block;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.list {
    width: 100%;
    margin-bottom: 12.5rem;
}

.item {
    position: relative;
    margin-bottom: 7rem;
    font: 300 3.4rem/3.7rem var(--main-ff);
    padding-left: 12.9rem;

    &:last-child {
        margin-bottom: 0;
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: "";
    }

    &::before {
        left: 2.73rem;
        width: 2.1rem;
        height: 1.4rem;
        background-image: url(../../../../assets/img/tick.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &::after {
        width: 7.4rem;
        height: 6.4rem;
        background-image: url(../../../../assets/img/mini-circle.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        animation: rotating 50s linear infinite 0.8s;
    }

    &:nth-child(2n) {
        &::after {
            animation: rotatingBack 50s linear infinite 0.8s;
        }
    }
}

.btns {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: var(--grid-offset);
}

.containerBlock {
    &:nth-child(1) {
        grid-column: 2 span;
    }

    &:nth-child(2) {
        grid-column: 7 span;
    }
}

@keyframes rotating {
    from {
        transform: translate(0, -50%) rotate(0);
    }

    to {
        transform: translate(0, -50%) rotate(360deg);
    }
}

@keyframes rotatingBack {
    from {
        transform: translate(0, -50%) rotate(0);
    }

    to {
        transform: translate(0, -50%) rotate(-360deg);
    }
}